extends ../layout.pug

block head
    link(rel="stylesheet", href="/stylesheets/tracker.css")


block content
    - let totalSteps = 0
    - for (let i=0; i<user.data.length; i++) {
    -    totalSteps += user.data[i].steps
    - }
    .row
        .col-sm-4
            div
                h2.name #{user.local.displayName}
                div Total Steps: #{totalSteps}
                div Current Weight: #{user.data[user.data.length -1].weight} lbs.
            hr
            div 
                h4 More Info
            hr
            div
                h4 Links
                ul
                    li 
                        a(href="/tracker/new") Add Data
                    li ls
        .col-sm-8
            div.card
                h4.card-title Data
                ul.data-list.list-group.list-group-flush
                    li.list-group-item.data-header.bg-info.text-white
                        div.text-center
                            i.fas.fa-calendar-day
                        div.text-right
                            i.fas.fa-walking
                        div.text-right
                            i.fas.fa-dumbbell
                        div.text-right
                            i.fas.fa-utensils
                        div.text-right
                            i.fas.fa-weight
                    each entry in user.data
                        li.data-entry.list-group-item
                            div.text-center #{entry.date.month}-#{entry.date.day}-#{entry.date.year}
                            div.text-right #{entry.steps}
                            div.text-right #{entry.gym}
                            div.text-right #{entry.diet}
                            div.text-right #{entry.weight}
                        //- ADD DATA TOGGLE TO SHOW/HIDE THESE BUTTONS
                        div
                            form(method='POST' action=`/tracker/${entry.id}?_method=DELETE`)
                                    button.btn.btn-link(type='submit') Delete
                            div
                                a(href=`/tracker/edit/${entry.id}`) Edit