extends ../layout.pug

block head
    link(rel="stylesheet", href="/stylesheets/tracker.css")


block content
    - let totalSteps = 0
    - for (let i=0; i<user.data.length; i++) {
    -    totalSteps += user.data[i].steps
    - }
    .row
        .col-sm-4
            div
                h2.name #{user.local.displayName}
                div Total Steps: #{totalSteps}
                div Current Weight: #{user.data[user.data.length -1].weight} lbs.
            hr
            div 
                h4 More Info
            hr
            div
                h4 Links
                ul
                    li 
                        a(href="/tracker/new") Add Data
                    li ls
        .col-sm-8
            div Data
                ul
                    each entry in user.data
                        li 
                            h5 #{entry.date.month}-#{entry.date.day}-#{entry.date.year}
                            div #{entry.weight}/#{entry.steps}/#{entry.gym}/#{entry.diet}